<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @activist.username %>
</p>

<p>
  <strong>Name:</strong>
  <%= @activist.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @activist.surname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @activist.email %>
</p>

<p>
  <strong>Birth city:</strong>
  <%= @activist.birth_city %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @activist.birth_date %>
</p>

<p>
  <strong>Whatsapp:</strong>
  <%= @activist.whatsApp %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @activist.facebook %>
</p>

<p>
  <strong>Skype:</strong>
  <%= @activist.skype %>
</p>

<p>
  <strong>Google plus:</strong>
  <%= @activist.google_plus %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @activist.twitter %>
</p>

<p>
  <strong>Mov five star:</strong>
  <%= @activist.mov_five_star %>
</p>

<p>
  <strong>Meet up:</strong>
  <%= @activist.meet_up %>
</p>

<%= link_to 'Edit', edit_activist_path(@activist) %> |
<%= link_to 'Back', activists_path %>
